<link rel="stylesheet" href="/css/fileview.css">

<div id="outermost">

    <div id="search__outer">
        <div id="file_name">
            <p><%= fileName %></p>
        </div>
        <div id="search__inner">
            <!-- input box for typing text to match with the cell of any row -->
            <input id="search_box" type="text" placeholder="Search By Any Col...">
            <button id="submit_btn">Search</button>
        </div>
        <div id="search_result">
            <p id="search_result_p"></p>
        </div>
    </div>

    <div id="table__outer">
        <div id="table__inner">
            <!-- table to show the csv data in tabular form -->
            <table id="mytable">
                <!-- table header -->
                <thead>
                    <tr>
                        <% Object.keys(data[0]).forEach(function(header) { %>
                            <th><%= header %></th>
                        <% }) %>
                    </tr>
                </thead>
            
                <!-- table body -->
                <tbody>
                    <% data.forEach(function(row) { %>
                        <!-- a single row of the table -->
                        <tr class="table__row">
                            <% Object.values(row).forEach(function(cell) { %>
                                <td><%= cell %></td>
                            <% }) %>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- section for showing the different page buttons -->
    <div id="pagination__outer">
        <div id="pagination__inner">
            <a href="/files/show-csv?fileName=<%= fileName %>&id=<%= id %>&currPage=<%= 1 %>" id="first__page">1</a>
            <span>...</span>
            <% for (page of pages) { %>
                <!-- displaying the buttons to go to different pages -->
                <a href="/files/show-csv?fileName=<%= fileName %>&id=<%= id %>&currPage=<%= page %>" id="<%= page == currPage ? 'active__page' : '' %>"><%= page %></a> 
            <% } %>
            <span>...</span>
            <a href="/files/show-csv?fileName=<%= fileName %>&id=<%= id %>&currPage=<%= maxPage %>" id="last__page"><%= maxPage %></a>
        </div>
    </div>    
</div>

<!-- linking javascript file -->
<script src="/javascript/fileview.js"></script>